In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import requests
import googlemaps
import json
import gmaps
import gmaps.datasets

In [2]:
df1 = pd.read_csv('../dataset.csv', sep='|')

In [3]:
df1.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,NaN,JAMBI,INDONESIA,36126,NaN,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,NaN,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,NaN,DUBAI,DUBAI,18582,NaN,BARODA,GUJARAT,390007
4,5,NaN,SIRSA,HARYANA,125055,NaN,SIRSA,HARYANA,125055

In [4]:
for column in [1,2,3,5,6,7]:
    df1[df1.columns[column]] = df1[df1.columns[column]].str.upper()

In [5]:
df1.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,NaN,JAMBI,INDONESIA,36126,NaN,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,NaN,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,NaN,DUBAI,DUBAI,18582,NaN,BARODA,GUJARAT,390007
4,5,NaN,SIRSA,HARYANA,125055,NaN,SIRSA,HARYANA,125055

In [6]:
df2 = df1[df1.columns[:5]].dropna().reset_index(drop=True)

In [7]:
df2.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code
0,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115
1,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169
2,6,TARDEO CIRCLE PT,MUMBAI,MAHARASHTRA,400034
3,7,PRADESH,ITANAGAR,ARUNACHAL PRADESH,791111
4,10,NEAR CENTURY MALL,FUJAIRAH,FUJAIRA EMIRATES,50037

In [8]:
df_current_city = df2.groupby('current_city')

In [9]:
df_current_city.get_group('GURGAON')

,cust_id_token,current_address3,current_city,current_state,current_pin_code
50,106,GURGAON,GURGAON,HARYANA,122002
163,311,COURSE ROAD DLF PHASE 5,GURGAON,HARYANA,122008
189,362,SEC 25 MG ROAD,GURGAON,HARYANA,121104
196,376,BASEMENT) DLF PHASE IV,GURGAON,HARYANA,122002
198,379,POST DAMDAMA DAMDAMA (174),GURGAON,HARYANA,122102
208,394,SCHOOL KE PASS,GURGAON,HARYANA,122102
240,458,TOWER MANESAR,GURGAON,HARYANA,122050
256,495,RYAN INTERNATIONAL SCHOOL,GURGAON,HARYANA,122002
322,626,SECTOR 54 GOLF COURSE ROAD HARYANA,GURGAON,HARYANA,121104
323,627,DLF IV,GURGAON,HARYANA,122009
326,634,JAIPUR HIGHWAY,GURGAON,HARYANA,122001
369,697,GURGAON NR BANGLO BAR GUJAR,GURGAON,HARYANA,122004
374,708,STATION,GURGAON,HARYANA,122001
464,897,GURGAON,GURGAON,HARYANA,122018
523,997,NEAR KANSAL INDUSTRIES,GURGAON,HARYANA,122051
561,1062,GURGAON,GURGAON,HARYANA,122001
616,1179,GURGAON,GURGAON,HARYANA,122002
641,1232,YES BANK LTD,GURGAON,HARYANA,122001
743,1407,RAJEEV NAGAR,GURGAON,HARYANA,122001
778,1467,SANJHANKARPALI,GURGAON,ODISHA,767048
896,1652,0,GURGAON,WEST BENGAL,711414
913,1671,AWESTBENGALKRISHNARAMBASU,GURGAON,WEST BENGAL,743504
915,1673,R,GURGAON,WEST BENGAL,743318
943,1713,POST TEEKLI,GURGAON,HARYANA,122101
944,1716,POST TEEKLI,GURGAON,HARYANA,122101
1014,1839,TEH/ DT GURGAON NR JAWALA MILL,GURGAON,HARYANA,221002
1119,1981,NEAR GOL CHAKAR SEC-5,GURGAON,HARYANA,122001
1140,2012,OLD NAZAFGARH ROAD,GURGAON,HARYANA,122001
1172,2072,(112) SIKANDERPUR,GURGAON,HARYANA,122004
1242,2245,FARRUKHNAGAR,GURGAON,HARYANA,122001
...,...,...,...,...,...
7160563,10593794,NARSINGPUR,GURGAON,HARYANA,122001
7160576,10593813,"SUSHANT LOK 1,",GURGAON,HARYANA,122002
7160587,10593826,"DLF CITY, M.G.ROAD,",GURGAON,HARYANA,122001
7160599,10593844,"GURGAON,",GURGAON,HARYANA,122001
7160610,10593858,DLF CYBER CITY PHASE-2,GURGAON,HARYANA,122002
7160619,10593868,"DEFENCE COLONY,",GURGAON,HARYANA,122001
7160622,10593871,"JACARANDA MARG,",GURGAON,HARYANA,122002
7160631,10593881,"SOUTH CITY - I,",GURGAON,HARYANA,122002
7160658,10593922,"NEAR SHOPPING CENTRE,",GURGAON,HARYANA,122002
7160675,10593942,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160689,10593960,"PHASE-1,",GURGAON,HARYANA,122002
7160698,10593972,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160709,10593987,"WORLD TRADE CENTRE,PHASE II,",GURGAON,HARYANA,122002
7160713,10593991,"DLF CITY PH 2,",GURGAON,HARYANA,122002
7160723,10594006,"SECTOR - 14, OPP. ITI,",GURGAON,HARYANA,122001
7160726,10594009,"PHASE-1,",GURGAON,HARYANA,122002
7160729,10594012,"JACARANDA MARG,DLF,",GURGAON,HARYANA,122002
7160747,10594035,"SECTOR - 51,",GURGAON,HARYANA,122001
7160749,10594037,"NARSINGPUR,",GURGAON,HARYANA,122001
7160754,10594043,"DELHI GURGAON ROAD,",GURGAON,HARYANA,122015
7160757,10594046,"SOUTH CITY-1,",GURGAON,HARYANA,122002
7160764,10594057,"DLF CITY, PHASE-II,",GURGAON,HARYANA,122002
7160777,10594079,"DLF CITY,PHASE 2,",GURGAON,HARYANA,122002
7160782,10594084,"JACARANDA MARG, DLF CITY, PHASE 2,",GURGAON,HARYANA,122002
7160787,10594092,"BLOCK A , SUSHANT LOK-I, M G ROAD,",GURGAON,HARYANA,122002
7160801,10594110,"DLF CITY 2,",GURGAON,HARYANA,122002
7160842,10594184,GURGAON,GURGAON,HARYANA,122001
7160847,10594191,SECTOR 32,GURGAON,HARYANA,122001
7160930,10594327,SECTOR 50,GURGAON,HARYANA,122018
7160954,10594374,TOWER A RAHEJA SQUARE MANESAR,GURGAON,HARYANA,122001

In [10]:
googleapikey = 'AIzaSyB_1IOGpf41gJr7XauDvTk0hhodGJq6JV8'

In [11]:
google_maps = googlemaps.Client(key=googleapikey)
city = 'MUMBAI'
df_example = df_current_city.get_group(city).reset_index(drop=True).sample(n=10)
df_example['whole_address'] = df_example['current_address3'].str.cat(df_example[['current_city','current_state']], sep=", ")

In [12]:
df_example

,cust_id_token,current_address3,current_city,current_state,current_pin_code,whole_address
32183,1432829,HOTEL DAHISAR NAVA GAON W DAHISAR,MUMBAI,MAHARASHTRA,400068,"HOTEL DAHISAR NAVA GAON W DAHISAR, MUMBAI, MAH..."
100810,4519346,TALAV DAHISAR (E),MUMBAI,MAHARASHTRA,400068,"TALAV DAHISAR (E), MUMBAI, MAHARASHTRA"
19032,837812,SION (E) KING CIRCLE NR GANDHI MKT,MUMBAI,MAHARASHTRA,400022,"SION (E) KING CIRCLE NR GANDHI MKT, MUMBAI, MA..."
149105,5405648,OPP CORPORATION BANK,MUMBAI,MAHARASHTRA,400077,"OPP CORPORATION BANK, MUMBAI, MAHARASHTRA"
270193,10030717,BAHT BAZAR,MUMBAI,MAHARASHTRA,400009,"BAHT BAZAR, MUMBAI, MAHARASHTRA"
4576,197990,MUMBAI CHEMBUR,MUMBAI,MAHARASHTRA,400018,"MUMBAI CHEMBUR, MUMBAI, MAHARASHTRA"
60306,2817983,STATION VIDYAVIHAR WEST,MUMBAI,MAHARASHTRA,400086,"STATION VIDYAVIHAR WEST, MUMBAI, MAHARASHTRA"
117921,4853512,V P ROAD,MUMBAI,MAHARASHTRA,400004,"V P ROAD, MUMBAI, MAHARASHTRA"
143228,5237056,POPHALE NURSING HOME,MUMBAI,MAHARASHTRA,400001,"POPHALE NURSING HOME, MUMBAI, MAHARASHTRA"
66181,3207940,BORIVALI W,MUMBAI,MAHARASHTRA,400092,"BORIVALI W, MUMBAI, MAHARASHTRA"

In [13]:
df_example['whole_address'].iloc[3]

'OPP CORPORATION BANK, MUMBAI, MAHARASHTRA'

In [14]:
geocode_result_temp = google_maps.geocode(df_example['whole_address'].iloc[3])

In [15]:
geocode_result_temp

[{'address_components': [{'long_name': 'Kalbadevi',
    'short_name': 'Kalbadevi',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'Mumbai',
    'short_name': 'Mumbai',
    'types': ['locality', 'political']},
   {'long_name': 'Maharashtra',
    'short_name': 'MH',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'India',
    'short_name': 'IN',
    'types': ['country', 'political']},
   {'long_name': '400002', 'short_name': '400002', 'types': ['postal_code']}],
  'formatted_address': '68/72,1st floor,BG road,above corporation bank, Kalbadevi, Mumbai, Maharashtra 400002, India',
  'geometry': {'location': {'lat': 18.9477732, 'lng': 72.82950749999999},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 18.9491221802915,
     'lng': 72.8308564802915},
    'southwest': {'lat': 18.9464242197085, 'lng': 72.8281585197085}}},
  'place_id': 'ChIJF7XV8iHO5zsRkYRDSK-fq5A',
  'plus_code': {'compound_code': 'WRXH+4R Mumbai, Maharashtra, India',
   'global_code': '7JCJWRXH+4R'},
  'types': ['car_repair', 'establishment', 'point_of_interest']}]

In [16]:
geocode_result_temp[0]['geometry']['location']

{'lat': 18.9477732, 'lng': 72.82950749999999}

In [17]:
#Result Formatting function
def get_google_results(address, api_key, return_full_response=False):
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    geocode_url = geocode_url + "&key={}".format(api_key)
        
    results = requests.get(geocode_url)
    results = results.json()
    
    # if there's no results or an error, return empty results.
    if len(results['results']) == 0:
        output = {
            "formatted_address" : None,
            "latitude": None,
            "longitude": None,
            "accuracy": None,
            "google_place_id": None,
            "type": None,
            "postcode": None
        }
    else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
            "accuracy": answer.get('geometry').get('location_type'),
            "google_place_id": answer.get("place_id"),
            "type": ",".join(answer.get('types')),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.get('types')])
        }
        
    output['number_of_results'] = len(results['results'])
    output['status'] = results.get('status')
    if return_full_response is True:
        output['response'] = results
    
    return output

In [18]:
get_google_results(df_example['whole_address'].iloc[3], googleapikey)

{'formatted_address': '68/72,1st floor,BG road,above corporation bank, Kalbadevi, Mumbai, Maharashtra 400002, India',
 'latitude': 18.9477732,
 'longitude': 72.82950749999999,
 'accuracy': 'GEOMETRIC_CENTER',
 'google_place_id': 'ChIJF7XV8iHO5zsRkYRDSK-fq5A',
 'type': 'car_repair,establishment,point_of_interest',
 'postcode': '400002',
 'number_of_results': 1,
 'status': 'OK'}

In [19]:
def get_geocode(addresses):
    test_result = get_google_results("Mumbai, India", googleapikey, True)
    stop_time = 30
    if (test_result['status'] != 'OK'):
        raise ConnectionError('Connection error! Check your API key.')
    results= []

    for address in addresses:
        # While the address geocoding is not finished:
        geocoded = False
        while geocoded is not True:
            # Geocode the address with google
            try:
                geocode_output = get_google_results(address, googleapikey, return_full_response=True)
            except Exception as e:
                print("Major error with {}".format(address))
                print("Skipping!")
                geocoded = True

            if geocode_output['status'] == 'OVER_QUERY_LIMIT':
                time.sleep(stop_time * 60) # sleep for stop time 
                geocoded = False
            else:
                # If we're ok with API use, save the results
                # Note that the results might be empty / non-ok - log this
                if geocode_output['status'] != 'OK':
                    print("Error geocoding {}: {}".format(address, geocode_result['status']))
                print("Geocoded: {}: {}".format(address, geocode_output['status']))
                results.append((geocode_output['latitude'],geocode_output['longitude']))           
                geocoded = True
    return results

In [20]:
geocode_result = get_geocode(df_example['whole_address'].tolist())
geocode_result

Geocoded: HOTEL DAHISAR NAVA GAON W DAHISAR, MUMBAI, MAHARASHTRA: OK
Geocoded: TALAV DAHISAR (E), MUMBAI, MAHARASHTRA: OK
Geocoded: SION (E) KING CIRCLE NR GANDHI MKT, MUMBAI, MAHARASHTRA: OK
Geocoded: OPP CORPORATION BANK, MUMBAI, MAHARASHTRA: OK
Geocoded: BAHT BAZAR, MUMBAI, MAHARASHTRA: OK
Geocoded: MUMBAI CHEMBUR, MUMBAI, MAHARASHTRA: OK
Geocoded: STATION VIDYAVIHAR WEST, MUMBAI, MAHARASHTRA: OK
Geocoded: V P ROAD, MUMBAI, MAHARASHTRA: OK
Geocoded: POPHALE NURSING HOME, MUMBAI, MAHARASHTRA: OK
Geocoded: BORIVALI W, MUMBAI, MAHARASHTRA: OK

[(19.2517031, 72.85393150000002),
 (19.3085749, 72.85733479999999),
 (19.031541, 72.8587064),
 (18.9477732, 72.82950749999999),
 (18.954034, 72.83733149999999),
 (19.0327996, 72.89635679999999),
 (19.0806844, 72.89841129999999),
 (18.9570949, 72.8202218),
 (18.925141, 72.83174199999999),
 (19.2371877, 72.8441358)]

In [21]:
df_example['lat_long'] = geocode_result
df_example

,cust_id_token,current_address3,current_city,current_state,current_pin_code,whole_address,lat_long
32183,1432829,HOTEL DAHISAR NAVA GAON W DAHISAR,MUMBAI,MAHARASHTRA,400068,"HOTEL DAHISAR NAVA GAON W DAHISAR, MUMBAI, MAH...","(19.2517031, 72.85393150000002)"
100810,4519346,TALAV DAHISAR (E),MUMBAI,MAHARASHTRA,400068,"TALAV DAHISAR (E), MUMBAI, MAHARASHTRA","(19.3085749, 72.85733479999999)"
19032,837812,SION (E) KING CIRCLE NR GANDHI MKT,MUMBAI,MAHARASHTRA,400022,"SION (E) KING CIRCLE NR GANDHI MKT, MUMBAI, MA...","(19.031541, 72.8587064)"
149105,5405648,OPP CORPORATION BANK,MUMBAI,MAHARASHTRA,400077,"OPP CORPORATION BANK, MUMBAI, MAHARASHTRA","(18.9477732, 72.82950749999999)"
270193,10030717,BAHT BAZAR,MUMBAI,MAHARASHTRA,400009,"BAHT BAZAR, MUMBAI, MAHARASHTRA","(18.954034, 72.83733149999999)"
4576,197990,MUMBAI CHEMBUR,MUMBAI,MAHARASHTRA,400018,"MUMBAI CHEMBUR, MUMBAI, MAHARASHTRA","(19.0327996, 72.89635679999999)"
60306,2817983,STATION VIDYAVIHAR WEST,MUMBAI,MAHARASHTRA,400086,"STATION VIDYAVIHAR WEST, MUMBAI, MAHARASHTRA","(19.0806844, 72.89841129999999)"
117921,4853512,V P ROAD,MUMBAI,MAHARASHTRA,400004,"V P ROAD, MUMBAI, MAHARASHTRA","(18.9570949, 72.8202218)"
143228,5237056,POPHALE NURSING HOME,MUMBAI,MAHARASHTRA,400001,"POPHALE NURSING HOME, MUMBAI, MAHARASHTRA","(18.925141, 72.83174199999999)"
66181,3207940,BORIVALI W,MUMBAI,MAHARASHTRA,400092,"BORIVALI W, MUMBAI, MAHARASHTRA","(19.2371877, 72.8441358)"

In [22]:
gmaps.configure(api_key=googleapikey)
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(df_example['lat_long']))
fig

Figure(layout=FigureLayout(height='420px'))